# Auto detect text files and perform LF normalization
* text=auto 
#include<stdio.h>
 char matriz[12][12]={
                     { '*','*','*','*','*','*','*','*','*','*','*','*' },
 					 { '*',' ',' ',' ',' ',' ',' ',' ',' ',' ',' ','*' },
 					 { '*',' ',' ',' ',' ',' ',' ',' ',' ',' ',' ','*' },
 					 { '*',' ',' ',' ',' ',' ',' ',' ',' ',' ',' ','*' },
 					 { '*',' ',' ',' ',' ',' ',' ',' ',' ',' ',' ','*' },
 					 { '*','~','~','~','~','~','~','~','~','~','~','*' },
 					 { '*','~','~','~','~','~','~','~','~','~','~','*' },
 					 { '*',' ',' ',' ',' ',' ',' ',' ',' ',' ',' ','*' },
 					 { '*',' ',' ',' ',' ',' ',' ',' ',' ',' ',' ','*' },
 					 { '*',' ',' ',' ',' ',' ',' ',' ',' ',' ',' ','*' },
 					 { '*',' ',' ',' ',' ',' ',' ',' ',' ',' ',' ','*' },
 					 { '*','*','*','*','*','*','*','*','*','*','*','*' }
 };
 void imprimirMatriz(){
 	int lin,col;
 	  for(lin=0;lin<12;lin++){
 	  	for(col=0;col<12;col++){
 	  		 printf(" %c ",matriz[lin][col]);
		   }
		   printf("\n");
	   }
 }
 
 int main(){
 	int lin, col; 	
  imprimirMatriz();
 
 
 
 
    return 0;
}
